.rodape {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: var(--preto);
   
}

.rodape h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
    
}



      

