.container {
    padding:  1em ;
    margin-top: .5em;
    width: 292px;
    background-color: var(--azul-claro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.capa {
    width: 100%;
}

.container h2,
.favoritar {
    padding: 0 1em;
}

.favoritar {
    width: 25px;
}